body{
  padding: 5px 20px;
  background-color: #131313;
}
h2 h5{
  font-family: arial;
  color: rgb(71, 71, 71);
}
table{
  background-image: url(../img/stars.jpg);
}
p{
  color: aliceblue;
}
#area-navegacao{
  margin-bottom: 5px;
}
#titulo{
  background-image: url(../img/stars.gif);
  background-size: 550px;
  background-repeat: repeat-x;
  margin-bottom: 30px;
}
#subtitulo h2 h5{
  background-color: #802600;
}
.postagem{
  margin-top: 30px;
  background-image: url(../img/stars.jpg);
}
.postagem-black{
  margin-top: 30px;
  background-color: black;
}
/*
.orange{
  color: orange;
}
.red{
  color: red;
}
*/
.texto{
  font-size: 30px;
  text-align: center;
}
.borda{
  border: solid #802600 1px;
}
