body {
    background-color: whitesmoke;
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    margin: auto;
    padding: 15px;
    box-shadow: 5px 5px 9px #000;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}